@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base antialiased bg-gray-200 font-primary;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  button:disabled,
  input:disabled,
  select:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.custom-select > span {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.custom-select-item > span {
  display: flex;
  align-items: center;
  gap: 8px;
}
